

<nav class="navbar container-fluid">
	<div class="col">

		<a class="" href="" Match="NavLinkMatch.All">
			<span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
		</a>

		<a class="" href="harmony">
			<span class="bi bi-list-nested" aria-hidden="true"></span> Harmony
		</a>
	</div>
</nav>

